book.xml

<?xml version = "1.0"  encoding = "GBK"?>

<!DOCYTYPE book[
	<!ELEMENT book(Book code, Book name, Book category, Price)>
	<!ELEMENT  code   (#PCADAT)>
	<!ELEMENT  name  (#PCADAT)>
	<!ELEMENT  category  (#PCADAT)>
	<!ELEMENT  price  (#PCADAT)>
	
	<book>
	<code>ISBN 978-7-302-27782-8</code>
	<name>XML基础教程</name>
	<category>程序设计教材</category>
	<price>￥25</price>
	</book>